<!-- Developed by Heidi Soryal, Faculty of Engineering, Ain Shams University -->
<!-- Gazebo Model For ShopPAL Robot of MCT382, Mechatronics Systems' Design, Team 42, Spring 2020 --> 

<?xml version="1.0" ?>
<model>
    <name>ShopPAL_Robot</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description></description>
</model>
