<?xml version="1.0"?>
<model>
  <name>Fake_Shopper</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Ahmad Samy - Ain Shams University - 16P9051</name>
   <email>imahmadsamy@outlook.com</email>
  </author>

  <description>
    A person trying to escape from an amazing robot.
  </description>
</model>
